page-home {
    .home-fab-bttn {
        background-color: #EEEEEE;
    }
    .home-fab {
        margin-left: 80%;
        margin-top: 15%;
    }
    .home-fab-icon-img {
        width: 75%;
    }
    .home-unitname {
        height: 8%;
        line-height: 3;
        margin: 0%;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: bold;
        background-color: #85ACDE;
        vertical-align: middle;
    }
}